# Ignore everything in the FinalProject/ directory
/FinalProject/*
# except subfolders
!/FinalProject/*/
# but still ignore the Debug/  and .settings/ directory
/FinalProject/Debug/
/FinalProject/.settings/
#!/FinalProject/Src/
#!/FinalProject/Inc/
#!/FinalProject/Src/*
#!/FinalProject/Inc/*
# Ignore daftpunk/ directory
daftpunk/
# Ignore everything in daftpunk/
daftpunk/*
